body {
    background-color: #FFFFFF;
    background-image: url(../images/theobg.jpg) !important;
    color: #eeeeee !important;
}
.semitransparent {
    background: rgba(0, 0, 0, 0.7) !important;
}

.gridster ul li {
    border-radius:8px;
}

.gridster li header, .card > header {
    color: #b2b2b2;
    border-radius:8px;
    background: #262626;
    font-size: 0.85em;
    line-height: 1.7em;
    text-align: center;
    width: 100%;
}

[data-type="select"]>select, [data-type="input"]>input {
    margin-top: 0px !important;
	color: #eee !important;
	background: #1D1F20 !important;
}

div[data-type="circlemenu"] > .circlemenu li div[data-type="push"]{
    color: #aaa !important;
    height: 52px !important;
}

.large.thin  {
	letter-spacing: 1.1px;
	font-size: 200% !important;
	font-family: robotothin,sans-serif;
	font-weight: normal !important;
}

#header-nav {
  /*height: 50px !important;*/
  background-color: #0088CC !important;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 136, 204, 1) !important;
  -moz-box-shadow:    0px 5px 5px 0px rgba(0, 136, 204, 1) !important;
  box-shadow:         0px 5px 5px 0px rgba(0, 136, 204, 1) !important;
  border-radius:8px;
}

nav {
    background-color: #1D1F20;
    background-image: linear-gradient(90deg, #1D1F20,#404348);
	border-left: 1px dashed darkorange;
    color: #eeeeee;
}

.dialog {
  background-color:#ffffff !important;
}

section{
    border-bottom: 1px solid darkorange !important;
	background-color: #1D1F20 !important;
}

i#warn {
    color: #eeeeee;
}
i#warn-back {
    color: firebrick;
}

#dropvsx {
	display: none;
}

#droplicht {
	display: none;
}

#dropsofa {
	display: none;
}

#dropsteh {
	display: none;
}

#dropglas {
	display: none;
}

#dropwetter {
	display: none;
}

#droppollen0 {
	display: none;
}

#droppollen1 {
	display: none;
}

#droppollen2 {
	display: none;
}

#dropvorher1 {
	display: none;
}

#dropvorher2 {
	display: none;
}

#dropvorher3 {
	display: none;
}

#dropvorher4 {
	display: none;
}

#dropanruf {
	display: none;
}

#dropalarm {
	display: none;
}

#dropstumm {
	display: none;
}

#dropradiokueche {
	display: none;
}

input {
	color: #eee !important;
}

.top-space-mobile {
	margin-top: 10px;
}

.top-space-mobile-2x, .top-space-mobile-2 {
	margin-top: 20px;
}
nav>hr {
	width: 80%;
	height: 0px;
	color: darkorange;
	background: darkorange;
	margin: 10 auto 10 auto;
}

#keypad {
	display: inline-block;
}

.invalid {
	-webkit-animation: shake .5s linear;
	animation: shake .5s linear;
}

@-webkit-keyframes shake {
	8%, 41% {
		-webkit-transform: translateX(-10px);
	}
	25%, 58% {
		-webkit-transform: translateX(10px);
	}
	75% {
		-webkit-transform: translateX(-5px);
	}
	92% {
		-webkit-transform: translateX(5px);
	}
	0%, 100% {
		-webkit-transform: translateX(0);
	}
}

@keyframes shake {
	8%, 41% {
		transform: translateX(-10px);
	}
	25%, 58% {
		transform: translateX(10px);
	}
	75% {
		transform: translateX(-5px);
	}
	92% {
		transform: translateX(5px);
	}
	0%, 100% {
		transform: translateX(0);
	}
}
